/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:20:53 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-22 11:23:49
 */
/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:21:58 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-13 13:29:34
 */
nav {
  background-color: #0099CC !important;
  border-color: #0099CC !important; }
  nav .navbar-title {
    color: white !important; }
  nav .navbar-nav a {
    font-weight: bold;
    color: #333 !important; }
  nav .navbar-nav li.active a {
    background-color: white !important; }

#mainZone {
  background-color: white;
  margin-top: -16px; }

/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:21:18 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-13 14:20:24
 */
#buttonZone form {
  padding-top: 45px;
  height: 665px;
  box-shadow: 8px 5px 5px #CCC; }
#buttonZone #loaddata {
  width: 85px; }
#buttonZone #filterdata {
  width: 40px; }
#buttonZone #loaddictionary,
#buttonZone #encode {
  width: 125px; }
#buttonZone button[id^='upload'] {
  width: 130px;
  margin-left: 8px; }

#showZone {
  padding-top: 15px; }
  #showZone form {
    margin-left: 90%;
    height: 45px; }
  #showZone #table-fixed {
    position: absolute;
    background-color: white; }
  #showZone #tableZone .table-wrap {
    max-height: 595px;
    overflow-y: scroll;
    overflow-x: scroll; }
    #showZone #tableZone .table-wrap::-webkit-scrollbar {
      display: none; }
    #showZone #tableZone .table-wrap .highlightonehot {
      color: white;
      background-color: #FF6666;
      font-weight: bold;
      font-size: 150%; }

/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:21:13 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-13 13:38:14
 */
#parameterZone {
  max-height: 665px;
  overflow-y: scroll; }
  #parameterZone .unit-title {
    font-weight: normal;
    font-size: 150%; }
  #parameterZone .unit {
    padding-top: 8px;
    padding-bottom: 24px; }
  #parameterZone button.delete-unit,
  #parameterZone button.add-unit {
    width: 40px;
    margin-left: -20px; }

#rcodeZone {
  padding-top: 15px; }
  #rcodeZone pre b {
    color: #CC3333; }

/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:21:04 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-30 03:38:35
 */
#treeZone {
  margin-top: -2.5px;
  max-height: 610px;
  overflow-y: scroll; }
  #treeZone li:hover {
    background-color: #EFEFEF !important; }
  #treeZone .indent {
    padding-left: 40px; }
  #treeZone .toggle-target {
    padding-right: 5px; }
  #treeZone .pull-right {
    padding-right: 5px; }
    #treeZone .pull-right.unactive {
      color: #CCC; }
  #treeZone .colorpicker-wrapper {
    margin-left: -7px; }
  #treeZone .evo-colorind {
    width: 15px !important;
    height: 15px !important; }
  #treeZone .evo-pop {
    width: 213px;
    right: 12.5px;
    top: 30px; }

#plotZone iframe, #plotZone #sourcecode {
  margin-top: 50px;
  margin-left: 68.5px;
  width: 800px;
  height: 600px;
  box-shadow: 8px 5px 5px #CCC; }
#plotZone #iframeBtns {
  margin-top: 604px;
  margin-right: 125px; }
  #plotZone #iframeBtns span {
    font-size: 140%;
    display: block;
    margin-bottom: 7px; }

/*# sourceMappingURL=index.css.map */
