@charset "utf-8";

/*
 * @Author: Shepherd.Lee 
 * @Date: 2020-06-13 13:21:04 
 * @Last Modified by: Shepherd.Lee
 * @Last Modified time: 2020-06-14 00:16:03
 */

#treeZone{
    max-height: 665px;
    overflow-y: scroll;

    li{
        &:hover{
            background-color: #EFEFEF !important;
        }
    }
    
    .indent{
        padding-left: 40px;
    }
    .toggle-target{
        padding-right: 5px;
    }
    .pull-right{
        padding-right: 5px;

        &.unactive{
            color: #CCC;
        }
    }
}

#plotZone{

}